/* VARIABLES */
:root {
    --bg_transparent: #00000000;
    --light_text: white;
    --dark_text: #212529;
}


body {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* =================================================== HEADER =================================================== */
.navbar {
    background-color: #026aa7;
}

.dark-text {
    color: var(--dark_text);
}

.outline {
    text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #007bff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar-brand:hover {
    text-decoration: none;
    color: #0056b3;
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand span {
    color: black;
    letter-spacing: -2px;
}

.navbar-brand:hover, .nav-link:hover {
    color: #f8f9fa;
}

.nav-item {
    margin-right: 10px;
}

/* =================================================== MAIN =================================================== */

.hero-section {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                      url('/static/img/header_bg_img.jpg');
    background-size: cover; /* Масштабирует изображение, чтобы оно заполнило блок */
    background-position: center; /* Центрирует изображение */
    color: white; /* Белый текст поверх */
    text-align: center; /* Центрирование текста */
    padding: 100px 20px; /* Отступы внутри секции */
}

.feature-title {
    color: #2e6df7;
}


/* =================================================== FOOTER =================================================== */

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}
footer a {
    color: #00bcd4;
}
footer a:hover {
    text-decoration: underline;
}
