{% extends 'app_base.html' %}
{% load static %}

{% block title %}{{ board.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/board_detail.css' %}">
{% endblock styles %}

{% block content %}
<section class="kanban-board py-5" id="app" data-board-id="{{ board_id }}" data-user-id="{{ user.profile.id }}">
    <div class="container-fluid px-3">
        <h1 class="text-center mb-5">[[ board.name ]]</h1>
        <!-- Колонки и задачи -->
        <div class="kanban-board-wrapper" v-if="lists.length > 0">
            <div v-for="list in lists" :key="list.id" class="kanban-column">
                <div class="card">
                    <div class="card-header text-white d-flex justify-content-center align-items-center position-relative">
                        <h4 class="mb-0">[[ list.name ]]</h4>
                        <i v-if="isOwner" class="bi bi-pencil edit-icon position-absolute" @click="openEditListPopup(list)"></i>
                    </div>
                    <div class="card-body">
                        <div v-if="tasks[list.id] && tasks[list.id].length > 0">
                            <div v-for="task in tasks[list.id]" :key="task.id" class="task-card card mb-3"
                                 :class="{
                                     'task-in-progress': task.status === 'in_progress',
                                     'task-urgent': task.status === 'urgent',
                                     'task-overdue': task.status === 'overdue',
                                     'task-completed': task.status === 'completed'
                                 }">
                                <div class="card-body">
                                    <h6 class="task-title mb-4">[[ task.title ]]</h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="task-deadline text-muted">Срок:<br>[[ task.due_date ]]</span>
                                        <div class="task-user d-flex align-items-center">
                                            <img :src="task.assigned_to_avatar || 'https://via.placeholder.com/40'"
                                                 alt="Avatar" class="avatar-img rounded-circle me-2" width="40" height="40">
                                            <span class="text-muted">[[ task.assigned_to_username ]]</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-outline-primary w-100"
                                    :href="`lists/${task.list}/tasks/${task.id}/`">Детали
                                </a>
                            </div>
                        </div>
                        <p v-else class="text-center text-muted">Здесь ничего нет</p> <!-- Сообщение, если задач нет -->
                    </div>
                    <div class="card-footer p-0">
                        <button class="btn btn-primary w-100 h-100 rounded-0 rounded-bottom" @click="openAddTaskPopup(list.id)">Добавить задачу</button>
                    </div>
                </div>
            </div>

            <!-- Кнопка "Добавить список" -->
            <div v-if="isOwner" class="kanban-add-column d-flex align-items-start justify-content-start">
                <button class="btn btn-outline-primary" @click="openCreateListPopup">
                    <i class="bi bi-plus-circle"></i> Добавить список
                </button>
            </div>
        </div>

        <!-- Сообщение, если списков нет -->
        <div class="text-center" v-else>
            <p class="text-muted">Здесь ничего нет</p>
            <button v-if="isOwner"
                class="btn btn-outline-primary mt-3" @click="openCreateListPopup">
                <i class="bi bi-plus-circle"></i> Добавить список
            </button>
        </div>
    </div>

    <!-- Модальное окно для создания списка -->
    <div class="modal fade" id="addListModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить список</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input
                        type="text"
                        v-model="newListName"
                        class="form-control"
                        placeholder="Введите название списка"
                    />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="addNewList">Добавить</button>
                </div>
            </div>
        </div>
    </div>

   <!-- Модальное окно для редактирования списка -->
    <div class="modal fade" id="editListModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать список</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input
                        type="text"
                        v-model="newListName"
                        class="form-control"
                        placeholder="Введите название списка"
                    />
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" @click="deleteList">Удалить</button>
                    <div class="safe-btns">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" @click="editList">Сохранить</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для создания задачи -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить задачу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <!-- Поле для названия задачи -->
                    <p class="mb-1">Название задачи:</p>
                    <input
                        type="text"
                        v-model="newTaskTitle"
                        class="form-control"
                        placeholder="Введите название задачи"
                    />
                    <br>

                    <p class="mb-1">Описание задачи:</p>
                    <!-- Поле для описания задачи -->
                    <textarea
                        v-model="newTaskDescription"
                        class="form-control"
                        rows="3"
                        placeholder="Введите описание задачи"
                    ></textarea>
                    <br>

                    <p class="mb-1">Дедлайн:</p>
                    <!-- Поле для выбора даты дедлайна -->
                    <input
                        type="date"
                        v-model="newTaskDeadline"
                        class="form-control"
                    />
                    <br>

                    <p class="mb-1">Ответственный:</p>
                    <!-- Поле для выбора ответственного -->
                    <select v-model="newTaskAssignedTo" class="form-control">
                        <option v-for="member in boardMembers" :key="member.id" :value="member.id">
                            [[ member.username ]]
                        </option>
                    </select>
                    <br>

                    <p class="mb-1">Статус задачи:</p>
                    <!-- Поле для выбора приоритета -->
                    <select v-model="newTaskStatus" id="status" name="status" class="form-control" required>
                        <option value="in_progress" selected>В работе</option>
                        <option value="urgent">Срочно</option>
                        <option value="overdue">Просрочено</option>
                        <option value="completed">Выполнено</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="addNewTask">Добавить</button>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/board_detail.js' %}"></script>
{% endblock script %}