{% extends 'app_base.html' %}
{% load static %}

{% block title %}Детали задачи {{ task.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/task_detail.css' %}">
{% endblock styles %}

{% block content %}
<div id="app" class="task-detail container mt-4" data-list-id="{{ list_id }}" data-task-id="{{ task_id }}" data-board-id="{{ board_id }}" data-user-id="{{ user.profile.id }}" >
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">[[ task.title ]]</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>Описание:</strong> [[ task.description ]]
            </p>
            <p class="card-text">
                <strong>Статус:</strong> [[ task.status_name ]]
            </p>
            <p class="card-text">
                <strong>Доска:</strong> [[ task.board_name ]]
            </p>
            <p class="card-text">
                <strong>Список:</strong> [[ task.list_name ]]
            </p>
            <p class="card-text">
                <strong>Срок выполнения:</strong> [[ task.due_date ]]
            </p>
            <p class="card-text">
                <strong>Задача создана:</strong> [[ task.created_at_datetime ]]
            </p>
            <p class="card-text">
                <strong>Кем создана:</strong> [[ task.created_by_username ]]
            </p>
            <p class="card-text">
                <strong>Задача обновлена:</strong> [[ task.updated_at_datetime ]]
            </p>
            <p class="card-text">
                <strong>Кому назначена:</strong> [[ task.assigned_to_username ]]
            </p>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-primary" @click="openEditTaskPopup">Редактировать</button>
            <button class="btn btn-secondary" @click="backToBoard">Вернуться к доске</button>
            <button class="btn btn-danger" @click="deleteTask">Удалить</button>

        </div>
    </div>

    <div class="modal fade" id="editTaskModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить задачу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <!-- Поле для названия задачи -->
                    <p class="mb-1">Название задачи:</p>
                    <input
                        type="text"
                        v-model="newTaskTitle"
                        class="form-control"
                        placeholder="Введите название задачи"
                    />
                    <br>

                    <p class="mb-1">Описание задачи:</p>
                    <!-- Поле для описания задачи -->
                    <textarea
                        v-model="newTaskDescription"
                        class="form-control"
                        rows="3"
                        placeholder="Введите описание задачи"
                    ></textarea>
                    <br>

                    <p class="mb-1">Дедлайн:</p>
                    <!-- Поле для выбора даты дедлайна -->
                    <input
                        type="date"
                        v-model="newTaskDeadline"
                        class="form-control"
                    />
                    <br>

                    <p class="mb-1">Ответственный:</p>
                    <!-- Поле для выбора ответственного -->
                    <select v-model="newTaskAssignedTo" class="form-control">
                        <option v-for="member in boardMembers" :key="member.id" :value="member.id">
                            [[ member.username ]]
                        </option>
                    </select>
                    <br>

                    <p class="mb-1">Статус задачи:</p>
                    <!-- Поле для выбора приоритета -->
                    <select v-model="newTaskStatus" id="status" name="status" class="form-control" required>
                        <option value="in_progress" selected>В работе</option>
                        <option value="urgent">Срочно</option>
                        <option value="overdue">Просрочено</option>
                        <option value="completed">Выполнено</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="editTask">Редактировать</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/task_detail.js' %}"></script>
{% endblock script %}
