/* Общие стили для страницы task-detail */
main {
    background-color: #f8f9fa;
}

.task-detail, .task-comments {
    padding-top: 30px;
}

.task-detail a, .task-comments a {
    text-decoration: none;
    color: #212529;
}

.task-detail a:hover, .task-comments a:hover {
    text-decoration: underline;
}


.task-card, .comment-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    background-color: #3076f9;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.task-title, .comment-title {
    margin: 0;
}

.card-body {
    padding: 20px;
}

.task-field {
    margin-bottom: 15px;
}

.task-field strong {
    font-weight: bold;
}

.task-field p,
.task-field span {
    font-size: 1rem;
}

.assigned-user, .created-user {
    display: flex;
    align-items: center;
}

.assigned-user img, .created-user img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.assigned-user span {
    font-size: 1rem;
}

.urgent {
    color: red !important;
}

.overdue {
    color: red !important;
    font-weight: bold;
}

.task-actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.task-actions .btn, .new-comment .btn  {
    padding: 10px 20px;
}

.avatar-img {
    object-fit: cover; /* Обеспечивает сохранение пропорций, но заполняет контейнер */
}

.comment-date {
    font-size: 0.85em;
}

.like-container {
    width: 60px;
    background-color: #ababab;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease /* Плавный переход */
}

.liked {
    color: var(--light_text);
    background-color: #dd392a;
}

.like-icon {
    vertical-align: middle;  /* Центрирует иконку по вертикали */
}


